<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncthingRestClientUnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SyncthingRestClientUnitTest.Properties.Settings>
            <setting name="ServerHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8384</value>
            </setting>
            <setting name="ServerUseHttps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerApiKey" serializeAs="String">
                <value>jJrKsGKnfQIVzJl2p6i72ombT1G1M2BLLFQXbBNG</value>
            </setting>
        </SyncthingRestClientUnitTest.Properties.Settings>
    </userSettings>
</configuration>
